/* css */
.navbar-menu {
    font-size: 1em;
    margin-left: 15px;
    margin-top: -10px;
    padding-right: 25px;
    color: #1b1b1b;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-menu.active:after {
    background: none scroll 0 0 #ff781f;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
}

.navbar-menu:after {
    transition: all ease-in-out .5s;
    background: none repeat scroll 0 0 #ff781f;
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.navbar-menu:hover {
    text-decoration: none;
    color: #1b1b1b;

}

.navbar-menu:hover:after {
    text-decoration: none;
    color: #1b1b1b;
    width: 100%;
}

body {
    font-family: 'Oxygen';
    background-color: #fff7f2;
}

.totalContainer {
    background-color: white;
    border-radius: 10px;
    width: 800px;
    height: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #7c7c7c
}

.totalChartContainer {
    margin-top: 30px;
}

.recoverContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 20px;
    float: left;
}

#cumulative_recovered_cases {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: rgb(36, 196, 36);
}

.deathContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}

#cumulative_deaths {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: #1b1b1b;
}

#daily_deaths {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: #1b1b1b;
}

.todayCasesContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    float: left;
}

#daily_covid_cases {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: rgb(231, 71, 71);
}

.todayRecoveredContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 20px;
    float: left;
}

.totalDeathContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    float: left;
    margin-left: 20px;
}

#daily_recovered {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: rgb(36, 196, 36);
}

.totalVaccineContainer {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 150px;
    color: #7c7c7c;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}

#cumulative_vaccines {
    float: right;
    margin-right: 30px;
    font-size: 50px;
    color: rgb(36, 100, 196);
}

.vaccineImg {
    background-color: #fff7f2;
    vertical-align: middle;
}